{{- $sections := .sections }}
{{- $level := .level }}
{{- $path := .path }}
{{- $dir := .dir }}
{{- $output_type := .output_type }}
{{- $item := print "breadcrumbs/" $output_type "/item.html" }}
{{- $full_data := "" }}

{{- range $sections }}
  {{- $section := index $path $level }}
  {{- $aux := split .RelPermalink "/" }}

  {{- if eq $section (index $aux $level) }}
    {{ $data := partial $item (dict "caption" .Title "url" .RelPermalink "image" .Params.share_img "level" $level "final" (eq ( add $level 2 ) (len $path) ) ) }}
    {{ $full_data = printf "%s%s" $full_data $data }}

    {{- if gt (len .Sections) 0 }}
      {{- $data := partial "breadcrumbs/recursive.html" ( dict "output_type" $output_type "sections" .Sections "level" (add $level 1) "path" $path "dir" $dir ) }}
      {{ $full_data = printf "%s%s" $full_data $data }}
    {{- end }}
  {{- end }}
{{- end }}

{{ return $full_data }}
