{{- $showGeneratedList := $.Params.showGeneratedList | default $.Site.Params.showGeneratedList | default true }}
{{- $showItemMeta := $.Params.showItemMeta | default $.Site.Params.showItemMeta | default true }}
{{- $pages := $.Site.RegularPages -}}
{{- if $.Site.Params.homeSections -}}
  {{- $pages = where $.Site.RegularPages "Section" "in" .Site.Params.homeSections -}}
{{- end -}}
<div class="container" role="main">
  {{- with .Content }}
  <article>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{- . -}}
      </div>
    </div>
  </article>
  {{- end }}
  {{ if eq $showGeneratedList true -}}
    <div class="row justify-content-center mt-3">
      <div class="col-lg-8 posts-list">
        {{ $pag := .Paginate $pages }}
        {{ range $pag.Pages }}
        <article class="list-preview">
          <a href="{{ .Permalink }}">
          <h2 class="item-title">{{ .Title }}</h2>

          {{ if .Params.subtitle }}
            <h3 class="item-subtitle">
            {{- .Params.subtitle -}}
            </h3>
          {{ end }}
          </a>

          {{- if eq $showItemMeta true }}
          <p class="item-meta">
            {{ partial "item_meta.html" . }}
          </p>
          {{- end }}
          <div class="item-entry">
            {{ if .Truncated }}
              {{ .Summary }}
              <a href="{{ .Permalink }}" class="read-more">[Read more]</a>
            {{ else }}
              {{ .Content }}
            {{ end }}
          </div>

          {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
            <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
          {{ end }}

        </article>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-lg-8 posts-list">
      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <ul class="pagination">
        {{ if .Paginator.HasPrev }}
        <li class="page-item">
          <a class="page-link" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; Newer posts</a>
        </li>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <li class="page-item">
          <a class="page-link" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older posts &rarr;</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
      </div>
    </div>
    {{- end }}
  </div>
