.intro-header {
    margin-bottom: 20px;
}

.intro-header.header-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 0px;
  margin-bottom: 35px;
  height: 200px;
}

.intro-header.header-img .heading
{
  padding: 10px 0;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000000;
}

.intro-header .heading .subheading
{
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

.intro-header.header-img .heading .subheading
{
  font-weight: 400;
}

.list-preview
{
    border-bottom: 1px solid #eee;
    padding: 35px 0;
}

.list-preview a
{
  text-decoration: none;
  color: #404040;
}

.list-preview a:focus,
.list-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}

.list-preview .item-title
{
  font-size: 30px;
  margin-top: 0;
}

.list-preview .item-subtitle
{
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.list-preview .item-meta
{
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}

.list-preview .item-meta a
{,
  color: #404040;
  text-decoration: none;
}

.list-preview .item-entry
{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.blog-tags
{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #999;
    font-size: 15px;
}

.blog-tags:before
{
  content: "Tags: ";
}

.blog-tags a
{
    color: #008aff;
    text-decoration: none;
    padding: 0px 5px;
}

.blog-tags a:before
{
  content: "#";
}

.read-more
{
  font-weight: 800;
  float: right;
  text-decoration: none;
  color: #404040;
}
