{{- $ctx := .ctx }}
{{- $output_type := .output_type }}
{{- $header := print "breadcrumbs/" $output_type "/header.html" }}
{{- $item := print "breadcrumbs/" $output_type "/item.html" }}
{{- $footer := print "breadcrumbs/" $output_type "/footer.html" }}
{{- $full_data := "" }}

{{- with $ctx }}
  {{- $path := split .RelPermalink "/" }}

  {{- $data := partial $header . }}
  {{- $full_data = printf "%s%s" $full_data $data }}

  {{- if eq .Kind "taxonomyTerm" }}

    {{- $data := partial $item (dict "caption" .Title "url" "" "level" 1 "image" "" "final" true) }}
    {{- $full_data = printf "%s%s" $full_data $data }}

  {{- else if or ( eq .Kind "taxonomy" ) ( eq .Kind "term" ) }}

    {{/* Find the taxonomyTerm and render */}}

    {{- $taxonomyTerm := .Site.GetPage "taxonomyTerm" .Data.Plural }}
    {{- $data := partial $item (dict "caption" $taxonomyTerm.Title "url" $taxonomyTerm.RelPermalink "level" 1 "image" "" "final" false) }}
    {{- $full_data = printf "%s%s" $full_data $data }}

    {{/* Render the taxonomy item */}}

    {{- $data := partial $item (dict "caption" .Title "url" .RelPermalink "level" 2 "image" "" "final" true) }}
    {{- $full_data = printf "%s%s" $full_data $data }}

  {{- else if or ( eq .Kind "section" ) ( eq .Kind "page" ) }}

    {{/* Display all relevant section elements */}}

    {{- $data := partial "breadcrumbs/recursive.html" (dict "output_type" $output_type "sections" .Site.Home.Sections "level" 1 "path" $path "dir" .RelPermalink ) }}
    {{- $full_data = printf "%s%s" $full_data $data }}

    {{- if eq .Kind "page" }}

      {{- $aux := split .RelPermalink "/" }}
      {{- $data := partial $item (dict "caption" .Title "url" .RelPermalink "level" (sub (len $aux) 2 ) "image" .Params.share_img "final" true ) }}
      {{- $full_data = printf "%s%s" $full_data $data }}

    {{- end }}
  {{- end }}

  {{- $data := partial $footer . }}
  {{- $full_data = printf "%s%s" $full_data $data }}
{{- end }}

{{- $full_data | safeHTML}}
