{{- if eq .Kind "home" -}}
  {{- $.Scratch.Set "Description" ( .Site.Params.description | default "The main page" ) -}}
  {{- $.Scratch.Set "Title" .Site.Title -}}
{{- else -}}
  {{- $.Scratch.Set "Description" ( .Description | default .Params.subtitle | default .Summary | default .Kind ) -}}
  {{- $.Scratch.Set "Title" ( .Title | default .Site.Title ) -}}
{{- end }}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Title, Description, Author, and Favicon -->
{{- with ($.Scratch.Get "Title") }}
    <title>{{ print . }} - {{ $.Site.Title }}</title>
{{- end -}}
{{- with ($.Scratch.Get "Description") }}
    <meta name="description" content="{{ . }}">
{{- end -}}
{{- with .Site.Author.name }}
    <meta name="author" content="{{ . }}"/>
{{- end -}}
{{- with .Site.Params.favicon }}
    <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}

<!-- SEO -->
{{- partial "seo/main.html" . -}}
{{- $showBreadcrumbs := $.Params.showBreadcrumbs | default $.Site.Params.showBreadcrumbs | default true }}
{{ if and ( eq $showBreadcrumbs true ) ( eq .IsHome false ) -}}
  {{ partial "breadcrumbs.html" ( dict "ctx" . "output_type" "structured" ) }}
{{- end }}

<!-- Social Media Tags -->
{{- partial "social/main.html" . -}}

<!-- Links and stylesheets -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/local.css">

{{- partial "head_custom.html" . -}}
{{ template "_internal/google_analytics_async.html" . -}}
